@import "fonts", "reset", "animations";

/* MAIN */

body {
    height: 100vh;
    background-color: $primary;
    padding: 2.78rem;

    @include mobile {
        min-height: 100vh;
        height: fit-content;
        padding: .8rem;
    }
}

.wrapper {
    border: 7px solid $seconday;
    max-width: 1820px;
    min-height: 890px;
    height: 100%;
    max-height: 1180px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2.78rem;
    display: flex;
    flex-direction: column;

    @include mobile {
        margin-bottom: 0;
    }

    @media screen and (min-height: 890px) {
        margin-bottom: 0;
    }

    .header {
        .primary-slideshow, .secondary-slideshow {
            display: flex;
            align-items: center;

            .name, .job {
                white-space: nowrap;
                color: $seconday;
            }
        }
        
        .primary-slideshow {
            margin: -.65rem 0 -.25rem 0;
            // animation speed ----v---- here
            animation: slideshow1 30s infinite linear;
            
            @include mobile {
                animation: slideshow1-mobile 30s infinite linear;
            }

            .name {
                font: 8.89rem "gtfxebl", sans-serif;
                margin-right: 1.83rem;

                @include mobile {
                    font-size: 6.2rem;
                }
                
                &:nth-child(odd) {
                    -webkit-text-stroke: 2px $seconday;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        
        .secondary-slideshow {
            border-bottom: 7px solid $seconday;
            border-top: 7px solid $seconday;
            padding: .38rem 0;
            float: right;
            // animation speed ----v---- here
            animation: slideshow2 25s infinite linear;
            
            @include mobile {
                animation: slideshow2-mobile 25s infinite linear;
            }

            .job {
                font: 2.61rem "gtfxebo", sans-serif;
                margin-right: 0.69rem;

                @include mobile {
                    font-size: 1.8rem;
                }

                &:nth-child(even) {
                    -webkit-text-stroke: 1px $seconday;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 0 2rem 0 2rem;

        @include mobile {
            flex-direction: column-reverse;
            padding: 0;
            margin-top: 2.5rem;
        }

        @include tablet {
            margin-top: 3rem;
        }

        .photo-animation {
            height: min-content;
            position: relative;
            align-self: flex-end;
            margin: 0 30px -55px 0;

            @include mobile {
                margin: 2.5rem 0 -10px 0;
                align-self: center;
            }
            
            .circle {
                position: absolute;
                border-radius: 50%;
                background-color: $seconday;

                &.big {
                    width: 513px;
                    height: 513px;
                    z-index: -10;
                    top: 18px;
                    left: 10px;
                    
                    @include mobile {
                        width: 240px;
                        height: 240px;
                    }

                    @include tablet {
                        width: 380px;
                        height: 380px;
                    }
                }

                &.small {
                    width: 44px;
                    height: 44px;
                    z-index: 10;
                    bottom: 118px;
                    right: 225px;

                    @include mobile {
                        width: 21px;
                        height: 21px;
                        bottom: 50px;
                        right: 110px;
                    }

                    @include tablet {
                        width: 35px;
                        height: 35px;
                        bottom: 18%;
                        right: 33%;
                    }
                }
            }
            
            .photo {
                max-width: 755px;
                width: 100%;
                
                @include mobile {
                    max-width: 600px;
                }
            }
        }

        .main {
            width: 376px;
            max-width: 650px;
            font: 1rem "gtfr", sans-serif;
            color: $seconday;
            line-height: 1.56rem;
            align-self: center;

            @include wide-screen {
                width: 576px;
            }

            @include mobile {
                max-width: 900px;
                width: 100%;
                padding: 0 1.5rem;
            }

            .italic {
                font-family: "gtfri";
            }

            .underline {
                /* Fake underline but same as xd design */
                padding-bottom: 2px;
                border-bottom: 1px solid $seconday;

                /* Real underline */
                // text-decoration: underline;
            }

            .mail {
                text-decoration: none;
                color: $seconday;
                position: relative;

                &:hover {
                    text-decoration: underline;
                }
            }

            .mail-icon {
                width: 33px;
                fill: $seconday;
                position: relative;
                top: 4px;
                margin-top: .785rem;
                margin-right: .65rem;
            }
        }
    }
}