/*
/*body ---------*/

#bloc_page {
	width: 900px;
	margin: auto;
}

body {
	font-family: Roboto, 'Cooper Black', impact;
	color: #181818
}


/*
/*header ----------------*/

header {
	display: flex;
	justify-content: space-between;
	align-items; flex-end;
	height: 125px;
}

/*exercice*/
#conteneur {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 400px;
	border: 2px solid #444;
}

.element {
	width: 150px;
	height: 100px;
}

.element:nth-child(1) {
	background-color: orange;
}
.element:nth-child(2) {
	background-color: blue;
	width: 300px;
	align-self: flex-start;
}
.element:nth-child(3){
	background-color: #ad6;
}

p {
	z-index: 1;
}

nav {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100px;
	border: 1px solid black;
	z-index: -1;
}
