/*ajout des polices Montserrat et Roboto, via googleapis*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*
/*body ---------*/

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
	background-color: #FFF7FF;
	margin-bottom: 5px;
}

#bloc_page {
	width: 900px;
	margin: auto;
}

/*
/*header ----------------*/

header {
	display: flex;
	justify-content: space-between;
	align-items; flex-end;
	min-height: 125px;
	box-shadow: 2px 3px 0px 0px black;
}


/*Les titres --*/
h1 {
    font-family: 'Montserrat', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	overflow: hidden;
	line-height: 1.6;
}

h2 {
    font-family: 'Montserrat', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* essayer de créer un espacement après, comme sur Word */
	margin-bottom: 25px;
}

h3 {
    font-family: 'Montserrat', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*
/*footer---------*/


footer {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}


/*
/*Styles de block -----------*/

figure {
	text-align: center;
	font-style: italic;
}

li {
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

/*
Les classes ---------------*/

#info {
	list-style-type: none;
}

.float_right {
	float: right;
}

/*
<b> = bold ---> font-style
<i> = italic -> font-style
<ins> = inserted text (wich is underlined) -> text-decoration: underline*/
