/**
FONTS **/
/*ajout des polices Montserrat, via googleapis*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Title_fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/**
MAIN SECTION**/

body {
    background: url('../img/background-compressed.jpg') repeat-y;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.title {
    margin-top: 8rem;
}

.float_right {
    float: right;
    margin-right: 1rem;
}


h1 {
    font-size: 3.2rem;
    padding: 0 45px 0 45px;
    overflow: hidden;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    margin-top: 38px;
    font-size: 2rem;
}

a {
    color:rgba(0, 0, 0, 0.493);
}

    a:hover {
        text-decoration: none;
    }

    a:active {
        color:#83C5BE;
    }

ul {
    list-style-type: none;
}

/**
Header : WIP — MOCHE**/
header {
    border: 7px outset #fcf4f1;
    background-color: #fcf4f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Height: 8rem;
}

    header h1 {
        flex: 1.4;
    }

    header ul {
        display: flex;
        flex: 0.75;
        justify-content: space-between;
        font-size: 1.4rem;
    }

        header ul li {
            margin-right: 1rem;
        }

            header > ul > li a {
                color: rgba(0, 0, 0, 0.493);
                letter-spacing: 0.25rem;
                text-transform: uppercase;
                text-decoration: none;
            }
                header > ul > li a:hover {
                    color: #E29578;
                }

                header > ul > li a:active {
                    color: #e63d00;
                }


/**
Images**/
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    position: relative;
    width: 42%; /** change width (or height) HERE **/
}

    figure img {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

        figure img:hover {
            opacity: 0.3;
        }

    .hover_image {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
        figure:hover .hover_image {
            opacity: 1;
        }

figcaption {
    background-color: #fffbf9;
    color: #090e0d;
    font-size: 16px;
    padding: 0.8rem 1rem;
    text-align: center;
}

.photo {
    border-radius: 8px;
}

embed {
    width: 500px;
    height: 800px;
}

/**
section**/
section {
    margin: auto;
    width: 70%;
    text-align: justify;
    text-align-last: center;
    max-width: 1200px;
    min-width: 250px;
}

    section p {
        font-size: 1.2rem;
    }

#contact_page {
    margin: auto;
    max-width: 700px;
}

/**
Footer: NEED A BETTER PRESENTATION **/
footer {
    border: 8px outset #fcf4f1;
    background-color: #fcf4f1;
}

.contact {
    font-size: 1.4rem;
    display: inherit;
    margin-bottom: 56px;
}


/**
RESPONSIVE **/

/*SHOULD ADD A 4K SECTION TO UPSCALE THE TEXT*/

@media all and (max-width: 1100px) {
    header ul {
        flex-direction: column;
        font-size: 1.2rem;
    }
}


@media all and (max-width: 950px) {
    header h1 {
        font-size: 2.5rem;
    }

    .hidden_mobile {
        display: none;
    }
}

/** THE TEXT SHOULD STAY ALIGN TO THE LEFT **/ @media all and (max-width: 480px) {
    header h1 {
        display:none;
    }

    header ul {
        position: absolute;
        right: 1rem;
        text-align: end;
    }

    section {
        text-align: center;
        text-align-last: unset;
    }
}
