body, button {
  background-color: #111;
  color: #EEE;
  font-family: 'Roboto Slab', serif;
}

.series-frame {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #EEE;
  margin: 30px;
  padding: 10px;
}

#formulaire {
  float: right;
  justify-content: right;
  align-items: center;
}

#withdraw, #deposit {
  display:inline-block;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 200;
  padding: 10px;
}

  #withdraw:hover, #deposit:hover {
    background-color: #000090;
    cursor: pointer;
  }

.account-frame {
  border: 2px solid rgb(255, 255, 255);
  max-width: fit-content;
}