/* Webfont: Humane-ExtraLight */@font-face {
    font-family: 'MangoGrotesqueExtLt';
    src: url('Humane-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('Humane-ExtraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

