/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Navigation */
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}