/*ajout de Cormorant-Regular*/
@font-face  {
    font-family: 'cormorantregular';
    src: url('fonts/Cormorant-Regular.otf#cormorantregular') format('OpenType');
}

/*ajout de roboto*/
@font-face {  
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Style du corps*/
body
{
background-color: #154c79;
color: #eeeee4;
}

/*Style de titre*/
h1 {
	font-family: 'robotoregular', Cambria, Helvetica, sans-serif;
	border-bottom: 3px solid;
	border-right: 2px solid;
	border-color: blue ;
	box-shadow: 2px 3px 2px 0px lightblue;
}

h2, h3, h3 code
{
    font-family: 'robotoregular', Cambria, Helvetica, sans-serif;
    font-style: italic;
}

/*Style des paragraphes*/
p, ul, code, figcaption
{
    font-family: 'cormorantregular', Cambria, Georgia, serif;
    font-size: 1.1em;
}

/*autre*/
.flottant
{
    float: clear, right;
}

.legendes_photo
{
    clear: both;
    float: right;
    font-size: 0.7em;
    text-align: right;    
}
/* Commentaires
.: pour référencer une "class"
#: pour référencer un "id"
*: pour appliquer le style PARTOUT
chaque élément est séparé d'un ", "
cette expression "h1 + p" permet d'appliquer le style au paragraphe qui suit le titre.
l'expression "h1 em" permet d'appliquer le style à tous les <em> qui se trouve dans les titres.
h1[title] sert à appliquer un style uniquement aux balises qui possèdent l'attribut en question. 
a[title="Cliquez ici"] le style va s'appliquer uniquement aux balises qui ont une valeur précise.
a[title*="ici"] si la valeur de l'attribut title possède le mot "ici", cela va s'appliquer.
------
<div> 
    est une balise générique, qui va nous servir à différencier les différrents bloc sur notre page.<br />
    nous sert permet de baliser qu'<span class="introduction">une partie du contenu<span />, comme ceci.
</div>
*/