/* GT Flex */

@font-face {
    font-family: 'gtfr';
    src: url('../assets/fonts/mateifont/GT-Flexa-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtfri';
    src: url('../assets/fonts/mateifont/GT-Flexa-Regular-Italic-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gtfxebo';
    src: url('../assets/fonts/mateifont/GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtfxebl';
    src: url('../assets/fonts/mateifont/GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Bluunext */

// @font-face {
//     font-family: 'bluu';
//     src: url('bluunext-bold-webfont.woff2') format('woff2'),
//          url('bluunext-bold-webfont.woff') format('woff'),
//          url('bluunext-bold.ttf') format('truetype'),
//          url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }