/*
/*body ---------*/

body {
	background-color: #FFE4C4;
	font-family: 'Cambria', Arial, sans-serif;
	color: #181818;
}

#bloc_page {
	width: 900px;
	margin: auto;
}


/*
/*header ----------------*/

header {
	display: flex;
	justify-content: space-between;
	align-items; flex-end;
	height: 125px;
}